.container#registration-about
  .header
    %h2 Nice one!
    %h5
      Now let's flesh out the details about
      %span{ 'ng-class' => "{brick: enterprise.is_distributor, turquoise: !enterprise.is_distributor}" }
        {{ enterprise.name }}

  %ng-include{ src: "'registration/steps.html'" }
  %form{ name: 'about', novalidate: true, ng: { controller: "RegistrationFormCtrl", submit: "update('social',about)" } }
    .row
      .small-12.columns
        .alert-box.alert{"data-alert" => ""}
          {{ enterprise.name }} won't be visible on the Open Food Network until you enter a long and short description.
          %a.close{:href => "#"} &times;

        .alert-box.info{"data-alert" => ""}
          {{ enterprise.name }} has been created on the Open Food Network. If you leave at any point from here onwards, your enterprise will be saved, and you can always login to the admin section to update or continue filling out your enterprise details.
          %a.close{:href => "#"} &times;

      .small-12.large-8.columns
        .row
          .small-12.columns
            %label{ for: 'enterprise_description' } Short description:
            %input{ id: 'enterprise_description', placeholder: "A short sentence describing your enterprise", type: 'text', autofocus: 'autofocus', required: true, ng: { model: 'enterprise.description' } }
            %span.error{ ng: { show: "enterprise.description.$error.required && submitted" } }
              Please enter a short description
        .row
          .small-12.columns
            %label{ for: 'enterprise_long_desc' } Long description:
            %textarea{ id: 'enterprise_long_desc', placeholder: "Here's your opportunity to tell the story of your enterprise! What makes you, and your produce, unique? Try to keep this fairly short - under 600 characters or 150 words is a good guideline. ;)", type: 'text', rows: '6', required: true, ng: { model: 'enterprise.long_description' } }
            %span.error{ ng: { show: "enterprise.long_description.$error.required && submitted" } }
              Please enter a long description
            %p.chars-used
              %small ( {{ enterprise.long_description.length }} ) characters used
      .small-12.large-4.columns.hide-for-small-only
        %p
        
    .row.buttons.pad-top
      .small-12.columns
        %input.button.secondary{ type: "button", value: "Back", ng: { click: "select('contact')" } }
        &nbsp;
        %input.button.primary{ type: "submit", value: "Continue" }
