.container#registration-finished
  .header
    %h2 Well done!
    %h5 
      You have successfully completed the profile for 
      %span.brick{"ng-show" => "enterprise.is_distributor"}
        {{ enterprise.name }}
      %span.turquoise{"ng-show" => "!enterprise.is_distributor" }
        {{ enterprise.name }}
  .content.pad-top.modal-centered
    .pad-top
      %h5 Why not check it out on the Open Food Network?
      %a.button.primary{ type: "button", href: "/map" } 
        See it on the map 
        %i.ofn-i_054-point-right
    
    .pad-top
      %h5 Next step - add some products:
      %a.button.primary{ type: "button", href: "/admin/products/new" } 
        Add a product 
        %i.ofn-i_054-point-right
    