.container#registration-social
  .header
    %h2 Last step!
    %h5 
      How can people find 
      %span{ 'ng-class' => "{brick: enterprise.is_distributor, turquoise: !enterprise.is_distributor}" }
        {{ enterprise.name }}
      online?
  %ng-include{ src: "'registration/steps.html'" }
  %form{ name: 'social', novalidate: true, ng: { controller: "RegistrationFormCtrl", submit: "update('finished',social)" } }
    .row.content
      .small-12.large-7.columns
        .row
          .small-12.columns
            %label{ for: 'enterprise_website' } Website:
            %input{ id: 'enterprise_website', placeholder: "eg. openfoodnetwork.org.au", type: 'url', autofocus: 'autofocus', ng: { model: 'enterprise.website' } }
        .row
          .small-12.columns
            %label{ for: 'enterprise_facebook' } Facebook:
            %input{ id: 'enterprise_facebook', placeholder: "eg. www.facebook.com/PageNameHere", type: 'url', ng: { model: 'enterprise.facebook' } }
        .row
          .small-12.columns
            %label{ for: 'enterprise_linkedin' } LinkedIn:
            %input{ id: 'enterprise_linkedin', placeholder: "eg. www.linkedin.com/YourNameHere", type: 'url', ng: { model: 'enterprise.linkedin' } }
      .small-12.large-5.columns
        .row
          .small-12.columns
            %label{ for: 'enterprise_twitter' } Twitter:
            %input{ id: 'enterprise_twitter', placeholder: "eg. @twitter_handle", type: 'url', ng: { model: 'enterprise.twitter' } }
        .row
          .small-12.columns
            %label{ for: 'enterprise_instagram' } Instagram:
            %input{ id: 'enterprise_instagram', placeholder: "eg. @instagram_handle", type: 'url', ng: { model: 'enterprise.instagram' } }

    .row.buttons
      .small-12.columns
        %input.button.secondary{ type: "button", value: "Back", ng: { click: "select('about')" } }
        &nbsp;
        %input.button.primary{ type: "submit", value: "Finish my profile" }

